@{
    ViewData["Title"] = "Relatórios";
}

<div class="row" style="padding:30px 20px 20px 20px;">
    <div class="panel panel-default panel-loading">
        <div>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
    <div id="BodyRelatorio"></div>
</div>
<script type="text/javascript" charset="utf-8">
    window.onload = function () {
            $.get('@Url.Content("~/Relatorio/MenuPrincipal")', function (content) {
            $("#Menu").html(content);
        });
        CallForm();
    }
    function CallForm() {
        $('.panel-loading').show();
        var url = '@Url.Action("LoadIndex", "Relatorio")';
        $.ajax({
            url: url,
            type: 'GET',
            success: function (result) {
                if (result.unauthorized) {
                    location.href = result.redirect;
                }
                else {
                    $('.panel-loading').hide();
                    $('#BodyRelatorio').empty();
                    $('#BodyRelatorio').html(result);
                }
            },
            error: function (xhr, status) {
                alert(status);
            }
        });
    }
</script>